{% extends 'layout.html' %}

{% block content%}

{% block head %}
<title>Sobre - Renato Rodrigues</title>
{% endblock %}

    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/55606615?s=460&u=f5ed3486fb73c888ecb30cac37e8862b24f320d0&v=4" alt="Renato Rodrigues">
        <h1>Renato Rodrigues</h1>
        <h2>Desenvolvedor Javascript</h2>
        <p>Desenvolvedor apaixonado por novos desafios e novas descobertas no mundo da tecnologia</p>
    </div>

    <div id="links-footer" class="links"> 
        <a href="https://github.com/renatormsilva" target="_blank">GitHub</a>
        <a href="https://www.instagram.com/renatormsilva/" target="_blank">Instagram</a>
        <a href="https://www.linkedin.com/in/renato-rodrigues-782aa3146/" target="_blank">Linkedin</a>
    </div>
    
{% endblock %}