{% extends 'layout.njk' %}

{% block content%}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> Portifólio - Renato Rodrigues</title>
{% endblock %}

    <div id="wrapper">
        <h1>Portifólio e tecnologias</h1>
    </div>

    <section class="cards">

        {% for curse in curses %}
        
        <div class="card" id=" {{curse.id}} ">
            <div class="card__image-container">
                <img src= "{{curse.image}}" alt=" imagem de {{curse.title}} ">
            </div>
            <div class="card__content">
                <p>{{curse.title}}</p>
            </div>
            <div class="card__info">
                <p>{{curse.subtitle}}</p>
                <p class="card__price"><a href="{{social}}" target="_blank">{{curse.link}}</a></p>
            </div>
        </div>
        {% endfor %}
        

    </section>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src= "https://www.youtube.com/embed/{{curse.id}} " frameborder="0"></iframe>
            </div>

        </div>
    </div>

    

    <script src="script.js"></script>

    {% endblock %}