{% extends 'layout.html' %}

{% block content%}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> Portifólio - Renato Rodrigues</title>
{% endblock %}

    <div id="wrapper">
        <h1>Portifólio e tecnologias</h1>
    </div>

    <section class="cards">
        
        <div class="card" id="iESvzNruUNs">
            <div class="card__image-container">
                <img src="/htmlcss.jpg" alt="Html e Css">
            </div>
            <div class="card__content">
                <p>HTML5 e CSS3</p>
            </div>
            <div class="card__info">
                <p>Projetos:</p>
                <p class="card__price"><a href="https://github.com/renatormsilva" target="_blank">GitHub</a></p>
            </div>
        </div>

        <div class="card" id="QSW1374FCt4">
            <div class="card__image-container">
                <img src="/JavaScript3.jpg" alt="Javascript" class="redimensionar">
            </div>
            <div class="card__content">
                <p>JAVASCRIPT</p>
            </div>
            <div class="card__info">
                <p>Projetos:</p>
                <p class="card__price"><a href="https://github.com/renatormsilva" target="_blank">GitHub</a></p>
            </div>
        </div>

        <div class="card" id="aTf8QTjw4RE">
            <div class="card__image-container">
                <img src="/ts.jpg" alt="TypeScript" class="redimensionar">
            </div>
            <div class="card__content">
                <p>TYPE SCRIPT</p>
            </div>
            <div class="card__info">
                <p>Projetos:</p>
                <p class="card__price"><a href="https://github.com/renatormsilva" target="_blank">GitHub</a></p>
            </div>
        </div>

        <div class="card" id="ye0XSzbU2so">
            <div class="card__image-container">
                <img src="react.png" alt="react">
            </div>
            <div class="card__content">
                <p>REACT JS</p>
            </div>
            <div class="card__info">
                <p>Projetos:</p>
                <p class="card__price"><a href="https://github.com/renatormsilva" target="_blank">GitHub</a></p>
            </div>
        </div>

        <div class="card" id="hAAj27hgPFg">
            <div class="card__image-container">
                <img src="/nodejs.jpg" alt="node" class="redimensionar">
            </div>
            <div class="card__content">
                <p>NODE JS</p>
            </div>
            <div class="card__info">
                <p>Projetos:</p>
                <p class="card__price"><a href="https://github.com/renatormsilva" target="_blank">GitHub</a></p>
            </div>
        </div>

        <div class="card" id="DDm0M_rZLJo">
            <div class="card__image-container">
                <img src="reactnative.png" alt="reactnative" class="redimensionar">
            </div>
            <div class="card__content">
                <p>REACT NATIVE</p>
            </div>
            <div class="card__info">
                <p>Projetos:</p>
                <p class="card__price"><a href="https://github.com/renatormsilva" target="_blank">GitHub</a></p>
            </div>
        </div>
    </section>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="script.js"></script>

    {% endblock %}