@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap";

:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}
body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1)
}
.links  {
    text-align: center;
}
.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 20px;
    text-decoration: none;
}
.links a:hover {
    color: var(--color-green);
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 32px;
    height:300px;
    
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 24px;
    line-height: 34px;
}

#links-footer a{
    border-bottom: 1px solid var(--color-green);
}

/*==== CARDS ===*/

.cards {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    

}

.card {
    background-color: var(--color-rocket);
    display:grid;
    
}

.card__image-container img {
    width: 100%;
    
    
}

.redimensionar {
    height: 161px;
}



.card__content,
.card__info {
    padding: 24px;
    text-align:center;
}

.card__info {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 0px 20px;
    border-radius: 20px;
    text-align:center;
}

.card__price a {
    text-decoration: none;
    color: yellowgreen;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}